body {
	background-color: lightblue;
	letter-spacing: 0.09px;
	padding: 5px;
}
img { border-radius: 50%;
	height: 150px;
	width: 150px;
}
#first {
	background-color: grey;
	color: #00fefe;
	text-shadow: 3px 4px 4px;
	font-size: 17px;
}
.second {
	font-size: 17px;
	color: #000f45;
	font-family: arial;
}
#third {
	border: dashed 5px green;
	border-radius: 5px 5px 5px 5px;
	padding: 5px;
	background-color: #00c9ee;
	color: brown;
	font-size: 17px;
}
.white {
	color: red;
	font-size: 20px;
}
#true {
	color: #f9f9f9;
	padding: 10px;
	width: 100%;
	max-width: 400px;
}
#submit {
	height: 30px;
	color: green;
	width: 40%;
}
div.form {
	background: -webkit-linear-gradient(DeepSkyBlue, Black);
	padding: 10px;
	max-width: 100%
}
.field {
	max-width: 50%;
}